<h1>Article</h1>
<p id="notice">
</p>
<p><strong>Id:</strong>
<%= @article.id %>
</p>

<p><strong>Title:</strong>
<%= @article.title %>
</p>

<p><strong>Body:</strong>
<%= @article.body %>
</p>
<%= link_to "Back", articles_path %>